<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plan2Park</title>
    <link rel="icon" type="image/x-icon" href="/styling/images/car_logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/styling/css/style.css">
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="home">
        <img src="/styling/images/plan2park1.png" width="150" height="37" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
      <a href="logout">
        <img src="/styling/images/logOut.png" id="logoutBtn"  width="30" height="30" alt="">
      </a>
    </nav>

    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6" >
            <img src="../styling/images/user.png" style="display:inline-block" alt="Avatar" class="avatar">
            <h4 style="display:inline-block" id="currentUser"></h4>
          </div>
          <div class="col-sm-6">
            <img class="tokenIcon" style="display:inline-block" src="../styling/images/token.png">
            <h6 id="creditText" style="display:inline-block">&nbsp;Credits</h6>
          </div>
        </div>

        <div class="row" id="retrieveUser">
        </div><br>

        <div class="row">
          <div class="col-md-6 text-center">
            <div class="card text-center" id="parkingBookings">
              <div class="card-body">
                <h5 id="bold">Your Parking Bookings</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="card text-center" id="carpoolBookings">
              <div class="card-body">
                <h5 id="bold">Your Car Pool Bookings</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="infoCol">
          <div class="col-md-6 text-center">
            <div class="card text-center" id="AddNewCar">
              <div class="card-body">
                <h5 id="bold">Your Vehicles</h5>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <a id="new-car-check">
                    <i id="new-car-check" class="fas fa-plus"></i>
                    <label class="addnew" id="new-car-check">Add new</label>
                  </a>
                </div>
              </div>
              <form>
                <div class="form-group" id="newCar">
                  <div class="form-row">
                    <div class="form-group col-md-5">
                      <label id="boldNC" for="car-make">Make of Car: </label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" id="car-make">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-5">
                      <label id="boldNC" for="car-colour">Colour: </label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" id="car-colour">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-5">
                      <label id="boldNC" for="car-registration">Registration: </label>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" id="car-registration">
                    </div>
                  </div>
                  <button id="new-car" type="button" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
          </div>

          <div class="col-md-6 text-center">
            <div class="card text-center" id="AddNewLoc">
              <div class="card-body">
                <h5 id="bold">Your Locations</h5>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <a id="new-loc-check">
                    <i id="new-loc-check" class="fas fa-plus"></i>
                    <label class="addnew" href="" id="new-loc-check">Add new</label>
                  </a>
                </div>
              </div>
              <form>
                <div class="form-group" id="newLoc">
                  <div class="form-row">
                    <div class="form-group col-md-7">
                      <label id="boldNL" for="loc-name">Nickname: </label>
                    </div>
                    <div class="form-group col-md-5">
                      <input type="text" id="loc-name">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-7">
                      <label id="boldNL" for="addressLine1">Number and Street Name: </label>
                    </div>
                    <div class="form-group col-md-5">
                      <input type="text" id="addressLine1">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-7">
                      <label id="boldNL" for="postcode">Postcode: </label>
                    </div>
                    <div class="form-group col-md-5">
                      <input type="text" id="postcode">
                    </div>
                  </div>
                  <button id="new-loc" type="button" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="text-center text-lg-start" >
      <div class="container p-2 pb-0">
        <hr class="my-2">
        <div class="row d-flex align-items-center">
          <div class="col-md col-lg text-center">
            <div class="p-3">
              © 2023 Copyright:
              <a class=" " href="">Plan2Park</a>
            </div>
          </div>
        </div>
        </section>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <script src="/account.js"></script>
  </body>

</html>