h1,h2,h3,h4,h6{
  font-family:Verdana, sans-serif;
  color: #4b4b4b;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  color: #4b4b4b;
}

.navbar{
  width: 100%;
  background-color: #ffffff;
  border-bottom: .20px 
  solid #939393;
}

.content{
  margin: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

footer{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
}

.card-img-top{
  align-self: center;
  width: 95px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
} 

#start-card, #carpool-start-card, #carRegForm{
  align-self: center;
} 

#ptrBtn, #bookingBtn, #poolBtn, #registerCar, #joinCar{
  background-color:rgb(242, 244, 244);
}

#login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
  padding-bottom: 20px;
}
#loginH {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
#loginForm, #createAccountForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
#loginLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: black;
}
#email, #password, #fullname {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

#loginBtn{
  width: 100px;
  height: 40px;
}

.welcome{
  text-align: center;
}

#spaceBooking{
  width: 120%;
}
#car-register{
  background-color: rgb(242, 244, 244);
  padding-top: 20px;
  padding-bottom: 10px;
}

#car-join{
  margin-top: 20px;
}


#carPoolingOptions{
  width: 25rem;
  align-self: center;
  text-align: center;
  align-items: center;
} 

#DateTimeOut, #DateTimeReturn{
  color: #706f6f;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.tokenIcon {
  width: 50px;
  height: 50px;
}

#UserName{
  padding-top: 10px;
  padding-left: 70px;
}

#credits{
  padding-top: 40px;
}

#infoCol{
  padding-top: 50px;
}

#usersLoc, #usersVehicles{
  align-self: center;
  text-align: center;
  align-items: center;
}

.signup{
  font-size: smaller;
  color: #706f6f;
}

#bold{
  color: rgb(9, 87, 152);
}

#boldNC, #boldNL{
  font-weight: bold;
}

#logoutBtn{
  float: right;
}

thead{
  background-color: rgb(242, 244, 244);
}

#welcomebanner{
  align-self: center;
  text-align: center;
  align-items: center;
}

.open-button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 100px;
  right: 28px;
}

.report-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#spaceNum{
  width: 120px;
}

#car-register-submit{
  color: white;
}

#credits{
  padding-top: 30px;
}

#map{
  height: 70%;
}

#floating-panel{
  top: 10px;
  left: 25%;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
}