/* General CSS  */
body,h1,h2,h3,h4,h5,h6{
  font-family: "Raleway", sans-serif;
  color: #4b4b4b;
  /* overflow: hidden; */
  /* padding-top: 2px; */
}

.navbar{
  width: 100%;
  background-color: #ffffff;
  border-bottom: .20px 
  solid #939393;
}

.content{
  margin: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

footer{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-img-top{
  align-self: center;
  width: 95px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
} 

#start-card, #carpool-start-card, #carRegForm{
  align-self: center;
} 

#ptrBtn, #bookingBtn, #poolBtn, #registerCar, #joinCar{
  background-color:rgb(242, 244, 244);
}

/* index CSS */
.welcome{
  text-align: center;
}

/* car pooling CSS */
#car-register{
  background-color: rgb(242, 244, 244);
  padding-top: 20px;
  padding-bottom: 10px;
}

#carPoolingOptions{
  width: 25rem;
  align-self: center;
  text-align: center;
  align-items: center;
} 

#DateTimeOut, #DateTimeReturn{
  color: #706f6f;
}

/* car park booking CSS */

/* public transport CSS */

/* account CSS */
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.tokenIcon {
  width: 50px;
  height: 50px;
}

#UserName{
  padding-top: 10px;
  padding-left: 70px;
}

#credits{
  padding-top: 40px;
}

#infoCol{
  padding-top: 50px;
}

#usersLoc, #usersVehicles{
  align-self: center;
  text-align: center;
  align-items: center;
}

.signup{
  font-size: smaller;
  color: #706f6f;
}

h5{
  color: #4b4b4b;
}








