/* General CSS  */
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
  color: #4b4b4b;
  /* overflow: hidden; */
  /* padding-top: 2px; */
}

.navbar{
  width: 100%;
  background-color: #ffffff;
  border-bottom: .20px 
  solid #939393;
}

.content{
  margin: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

footer{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-img-top{
  align-self: center;
  width: 95px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
} 

.card-body{
  align-self: center;
} 

#ptrBtn, #bookingBtn, #poolBtn, #registerCar, #joinCar{
  background-color:rgb(242, 244, 244);
}

/* index CSS */
.welcome{
  text-align: center;
}

/* car pooling CSS */
#car-join, #car-register{
  background-color: rgb(242, 244, 244);
  padding-top: 20px;
  padding-bottom: 10px;
}

#carPoolingOptions{
  width: 25rem;
  align-self: center;
  text-align: center;
  align-items: center;
} 

#DateTimeOut, #DateTimeReturn{
  color: #706f6f;
}

td{
  display: inline-table;
}

th, td, tr{
  padding: 4px 4px 4px 4px;
}


/* car park booking CSS */

/* public transport CSS */













